@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url("images/pattern-background-desktop.svg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  margin: 0%;
  background-color: #e0e8ff;
}
@media screen and (max-width: 320px) {
  body #order-summary-div {
    width: 70vw;
  }
  body #order-summary-title {
    font-size: 5vw;
  }
  body .body {
    font-size: 3vw;
  }
  body #order-summary-content {
    padding: 3vw;
  }
}
@media screen and (max-width: 375px) and (min-width: 340px) {
  body #order-summary-div {
    width: 80vw;
  }
  body #order-summary-title {
    font-size: 6vw;
  }
  body .body {
    font-size: 3.5vw;
  }
  body #order-summary-content {
    padding: 5vw;
  }
}
@media screen and (max-width: 425px) and (min-width: 380px) {
  body #order-summary-div {
    width: 80vw;
  }
  body #order-summary-title {
    font-size: 6vw;
  }
  body .body {
    font-size: 3vw;
  }
  body #order-summary-content {
    padding: 6vw;
  }
}
@media screen and (max-width: 768px) and (min-width: 430px) {
  body #order-summary-div {
    width: 70vw;
  }
  body #order-summary-title {
    font-size: 3vw;
  }
  body .body {
    font-size: 2vw;
  }
  body #order-summary-content {
    padding: 5vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 770px) {
  body #order-summary-div {
    width: 70vw;
  }
  body #order-summary-title {
    font-size: 5vw;
  }
  body .body {
    font-size: 2vw;
  }
  body #order-summary-content {
    padding: 5vw;
  }
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#order-summary-div {
  width: 23vw;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 20px #c6cff6;
}

.bold {
  font-weight: 900;
}

.dark-blue-font {
  color: #1f2f56;
}

#order-summary-title {
  font-size: 1.5vw;
}

#order-summary-content {
  padding: 2vw;
}

.body {
  font-size: 1vw;
}

.desaturated-blue-font {
  color: #7280a7;
}

.text-center {
  text-align: center;
}

.margin-1vh {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.margin-2vh {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.padding-2vh {
  padding: 2vh;
}

.padding-3vh {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#plan-div {
  justify-content: space-between;
  background-color: #f5f7ff;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type=button] {
  width: 100%;
}

#proceed-to-payment-div {
  background-color: transparent;
  box-shadow: 0 20px 20px #c6cff6;
  border-radius: 13px;
  overflow: hidden;
}

#btn-proceed-to-payment {
  margin: 0;
  background-color: #3829e0;
  color: white;
  border: none;
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
}

#btn-change {
  font-weight: 600;
}

#btn-change:hover {
  cursor: pointer;
  color: #766cf1;
  text-decoration: none;
}

#btn-proceed-to-payment:hover {
  cursor: pointer;
  background-color: #766cf1;
}

#btn-cancel-order {
  background-color: transparent;
  border: none;
  font-family: "Red Hat Display", sans-serif;
  color: #7280a7;
}

#btn-cancel-order:hover {
  cursor: pointer;
  color: #1f2f56;
}

/*# sourceMappingURL=styles.css.map */
