@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
.work-color {
  background: #ff8c66;
  border-radius: 15px;
}

.play-color {
  background: #56c2e6;
  border-radius: 15px;
}

.study-color {
  background: #ff5c7c;
  border-radius: 15px;
}

.exercise-color {
  background: #4acf81;
  border-radius: 15px;
}

.social-color {
  background: #7536d3;
  border-radius: 15px;
}

.self-care-color {
  background: #f1c65b;
  border-radius: 15px;
}

.font-small {
  font-size: 12px;
}

body {
  background: #0f1424;
  font-family: "Rubik", sans-serif;
  padding: 5%;
}
@media screen and (max-width: 405px) {
  body {
    padding: 3%;
  }
}
@media screen and (max-width: 320px) {
  body #user-div, body .activity-colored-div, body #activity-container {
    width: 70vw;
    margin-bottom: 5vh;
  }
  body #user-info-div, body #period-nav-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  body #user-info-div > img {
    width: 13vw;
    margin: 0;
  }
  body .font-small {
    font-size: 9px;
  }
  body .font-big {
    font-size: 11px;
  }
}
@media screen and (max-width: 375px) and (min-width: 330px) {
  body #user-div, body .activity-colored-div, body #activity-container {
    width: 74vw;
    margin-bottom: 5vh;
  }
  body #user-info-div, body #period-nav-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  body #user-info-div > img {
    width: 13vw;
    margin: 0;
  }
  body .font-small {
    font-size: 13px;
  }
  body .font-big {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) and (min-width: 380px) {
  body #user-div, body .activity-colored-div, body #activity-container {
    width: 75vw;
    margin-bottom: 5vh;
  }
  body #user-info-div, body #period-nav-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  body #user-info-div > img {
    width: 18vw;
    margin: 0;
  }
  body .period {
    margin: 0;
  }
  body .font-small {
    font-size: 13px;
  }
  body .font-big {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) and (min-width: 430px) {
  body #user-div, body .activity-colored-div, body #activity-container {
    width: 50vw;
    margin-bottom: 5vh;
  }
  body #user-info-div, body #period-nav-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  body .period {
    margin-top: 0;
  }
  body #user-info-div > img {
    width: 10vw;
    border-radius: 70px;
    margin-bottom: 0;
  }
  body .font-small {
    font-size: 15px;
  }
  body .font-big {
    font-size: 25px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 778px) {
  body #activity-container {
    width: 58vw;
  }
  body .activity-colored-div, body #user-div {
    width: 18vw;
  }
  body #user-info-div > img {
    width: 8vw;
    border-radius: 60px;
  }
  body .font-small {
    font-size: 10px;
  }
  body .font-big {
    font-size: 20px;
  }
}
@media screen and (max-width: 2560px) and (min-width: 1040px) {
  body #activity-container {
    width: 60vw;
  }
  body .activity-colored-div, body #user-div {
    width: 18vw;
  }
  body #user-info-div > img {
    width: 6vw;
    border-radius: 80vw;
  }
  body .font-small {
    font-size: 2vh;
  }
  body .font-big {
    font-size: 5vh;
  }
}
@media screen and (min-width: 2565px) {
  body #activity-container {
    width: 60vw;
  }
  body .activity-colored-div, body #user-div {
    width: 18vw;
  }
  body #user-info-div > img {
    width: 5vw;
    border-radius: 80vw;
  }
  body .font-small {
    font-size: 2vh;
  }
  body .font-big {
    font-size: 4vh;
  }
}

#user-info-div {
  background-color: #5847eb;
  color: white;
  font-weight: 300;
  border-radius: 15px;
  margin: 0;
  padding: 23px;
}

.font-big {
  font-size: 28px;
}

.in-dark-blue {
  background-color: #1c1f4a;
}

#user-div {
  color: #bdc1ff;
  width: 15vw;
  border-radius: 15px;
  margin: 1vw;
}

#period-nav-div {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 23px;
}

.period {
  padding-bottom: 15px;
}

.period:hover, label > input[type=radio]:checked + * {
  color: white;
  cursor: pointer;
}

label > input[type=radio] {
  display: none;
}

#user-info-div > img {
  border: 3px solid white;
  border-radius: 50px;
  margin-bottom: 10%;
}

#time-tracker-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#activity-container {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  margin: 1vw;
}

.activity-colored-div {
  width: 15vw;
  padding: 0;
}

.activity-div {
  border-radius: 15px;
  margin: 0;
  padding: 23px;
}

.activity-div:hover {
  background-color: #2b3173;
  cursor: pointer;
}

.activity-icon-div {
  overflow: hidden;
  height: 30px;
}

#work-icon, #play-icon, #study-icon, #exercise-icon {
  width: 50px;
  margin: -5px 0 0 0;
  float: right;
  padding-right: 23px;
}

#social-icon {
  width: 60px;
  margin: -8px 0 0 0;
  float: right;
  padding-right: 23px;
}

#self-care-icon {
  width: 40px;
  margin: -3px 0 0 0;
  float: right;
  padding-right: 23px;
}

.activity-div-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.activity-title, .current-hours-div {
  color: white;
  font-weight: 300;
}

.current-hours-div {
  font-size: 35px;
  margin-bottom: 5px;
}

.previous-hours-div {
  color: #bdc1ff;
}

/*# sourceMappingURL=styles.css.map */
